* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.grid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

.grid div {
  /* border: 1px solid; */
  flex-grow: 1;
  height: 5.5556%;
  width: 5.5556%;
}

.grid div.player {
  background-color: black;
  border-radius: 100%;
}

.wall {
  background-color: blue;
}

