* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.grid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  background-color: black;
}

.grid div {
  /* border: 1px solid; */
  flex-grow: 1;
  height: 5.5556%;
  width: 5.5556%;
}

.grid div.player {
  background-color:yellow;
  border-radius: 100%;
}

.wall {
  background-color:black;
  border: solid 1px blue 
}

.pip {
  background-color: chartreuse;
  border-radius: 100%;
}

.inky{
  background-color: lightblue
}

.pinky{
 background-color: pink
}

.blinky{
background-color: red
}

.clyde{
background-color: orange
}